@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");

body {
  font-family: "Poppins", "Calibri", sans-serif;
  font-weight: 400;
  background: #181818;
  color: white;
  overflow: hidden;
  /* Overflow disables scroll bar by default*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}